
{% extends "ndf/gbase.html" %}
{% load i18n %}
{% load ndf_tags %}
{% block body_content %}

<style type="text/css">
  .btn-group .button {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}
.btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
.btn-group .button:hover {
    background-color: #3e8e41;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-group .button.selected{
    background-color: white;
}
</style>
<!-- New login Page --> 
<div class="land_page">
  <div class='bg-img'>
      <div class="landing_page_background" style="height: 100vh;">
        <div class="small-4 columns overlay-margin">
            <div class="small-6 medium-6 columns" data-equalizer-watch>
                  <img src="/static/ndf/images/Clix_logo.png" style="margin: 100px 50px 50px 100px;" title="Invitation to clix."/>
            </div>
            <div class="small-7 rows">
              <h3 class="login-text">LOGIN AS</h3>
            </div>
            <div class="small-7 rows">
              <div class="btn-group">
                <button class="button">Teacher</button>
                <button class="button">Student</button>
              </div>
            <p style="clear:both"></p>
            </div>
        </div>
      </div>
  </div>
</div>




{% endblock body_content %}
